#!/bin/sh
# -*- mode: Shell-script; coding: utf-8; -*-
xautolock -time 10 \
          -locker "i3lock -c 333333 -f" \
          -notify 10 \
          -notifier 'notify-send xautolock "10 s to screen lock"' \
          -corners 00-- &
